In [40]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [41]:
data = pd.read_csv('tae.data.csv')

In [42]:
data.columns = ['is_native','instructor','course','semester','size','class']

In [43]:
data.shape

(150, 6)

In [44]:
data.head()

   is_native  instructor  course  semester  size  class
0          2          15       3         1    17      3
1          1          23       3         2    49      3
2          1           5       2         2    33      3
3          2           7      11         2    55      3
4          2          23       3         1    20      3

In [45]:
from sklearn.preprocessing import StandardScaler

In [21]:
scaler = StandardScaler()

In [47]:
scaler.fit(data.iloc[:,:-1])

c:\users\the random guy\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [48]:
x = scaler.transform(data.iloc[:,:-1])

c:\users\the random guy\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [49]:
x = pd.DataFrame(x,columns=['is_native','instructor','course','semester','size'])

In [50]:
x.head()

   is_native  instructor    course  semester      size
0   0.479070    0.209359 -0.733087 -2.412091 -0.848787
1  -2.087377    1.388849 -0.733087  0.414578  1.636983
2  -2.087377   -1.265002 -0.875711  0.414578  0.394098
3   0.479070   -0.970130  0.407904  0.414578  2.103064
4   0.479070    1.388849 -0.733087 -2.412091 -0.615746

In [51]:
y = data['class']

In [52]:
y.head()

0    3
1    3
2    3
3    3
4    3
Name: class, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
classifier = RandomForestClassifier(n_estimators=3)

In [57]:
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=3, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [58]:
y_pred = classifier.predict(x_test)

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
accuracy_score(y_test,y_pred)

0.5111111111111111

In [61]:
arr = []
for i in range(1,30):
    classifier = RandomForestClassifier(n_estimators=i)
    classifier.fit(x_train,y_train)
    y_pred = classifier.predict(x_test)
    arr.append(accuracy_score(y_test,y_pred))
j=1
for i in arr:
    print(j,int(i*100))
    j+=1

1 55
2 46
3 40
4 42
5 48
6 51
7 55
8 42
9 46
10 46
11 51
12 53
13 55
14 44
15 48
16 44
17 51
18 48
19 53
20 48
21 51
22 55
23 57
24 57
25 51
26 53
27 48
28 57
29 48

## The least number of estimators that can attain highest accuracy is 20